/* Общие стили */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

footer {
	color: white;
	text-align: center;
	padding: 10px;
	margin-top: 50px;
	font-size: 0.9em;
}

.btn-primary {
	background-color: #43613c;
	border-color: #43613c;
}

.btn-primary:hover {
	background-color: rgba(67, 97, 60, 0.5);
	border-color: #43613c;	
}

.sticky-top {
    position: sticky !important;
    top: 0;
    z-index: 1000;
}

/* Стиль для активного пункта меню */
.navbar-nav .nav-link.active {
	color: #fff !important;
	background-color: #43613c;
	border-radius: 5px;
}

/* Эффект при наведении на пункты меню */
.navbar-nav .nav-link:hover {
	color: #fff !important;
	background-color: rgba(67, 97, 60, 0.5);
	border-radius: 5px;
}

/* Стиль для карточек */
.card {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Эффект при наведении на карточку */
.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Стиль для кнопки в карточке */
.card-button {
	display: inline-block;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

/* Эффект при наведении на кнопку */
.card-button:hover {
	background-color: #555;
}

.logo-image {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	object-fit: cover;
}

/* Стили для закрепленной навигации */
.sticky-nav {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #f8f9fa;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sticky-nav .navbar {
	padding: 0.5rem 1rem;
}

.sticky-nav .nav-link {
	color: #333 !important;
	font-weight: bold;
}

.sticky-nav .nav-link:hover {
	color: #43613c !important;
}

/* Стили для кнопки "Наверх" */
.back-to-top {
	display: inline-block;
	margin: 2rem auto;
	padding: 0.5rem 1rem;
	background-color: #43613c;
	border-color: #43613c;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.back-to-top:hover {
	background-color: rgba(67, 97, 60, 0.5);
	border-color: #43613c;
}

/* Позиционирование кнопки "Наверх" */
.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

/* Отступы между секциями */
.section-title {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	font-size: 2rem;
	color: #333;
}

.subsection-title {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	color: #555;
}

.section-text {
	margin-bottom: 1.5rem;
	line-height: 1.6;
	color: #444;
}

.section-list {
	margin-bottom: 2rem;
}

.section-list-item {
	margin-bottom: 1.5rem;
}

.section-image {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}