{% extends 'base.html' %}
{% load static %}

{% block title %}Решение задач{% endblock %}

{% block content %}
<h1>Решение задач</h1>

<!-- Первая задача: Фильтрация стран -->
<h2>Задача 1: Фильтрация стран по ВВП</h2>
<p>Фильтрация стран на основе показателя их ВВП на душу населения.</p>

<form method="POST" class="mb-4">
	{% csrf_token %}
	<input type="hidden" name="task1-submit" value="true">
	<div class="mb-3">
		<label for="countries" class="form-label">Названия стран:</label>
		<input type="text" class="form-control" id="countries" name="countries" placeholder="Норвегия Финляндия ...">
	</div>
	<div class="mb-3">
		<label for="gdp_per_capita" class="form-label">Показатели ВВП на душу населения:</label>
		<input type="text" class="form-control" id="gdp_per_capita" name="gdp_per_capita"
			placeholder="92.646 50.818 ...">
	</div>
	<div class="mb-3">
		<label for="threshold" class="form-label">Пороговый показатель ВВП:</label>
		<input type="number" step="0.001" class="form-control" id="threshold" name="threshold" placeholder="50.000">
	</div>
	<button type="submit" class="btn btn-primary">Решить задачу</button>
</form>

<div class="mt-3">
	{% if result_task1 %}
	{% if result_task1|length > 0 and result_task1|first != "Ошибка" %}
	<ul>
		{% for country in result_task1 %}
		<li>{{ country }}</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>{{ result_task1 }}</p>
	{% endif %}
	{% endif %}
</div>

<hr>

<!-- Вторая задача: Високосный год и век -->
<h2>Задача 2: Определение високосного года и века</h2>
<p>Определение, является ли год високосным, и к какому веку он относится.</p>

<form method="POST" class="mb-4">
	{% csrf_token %}
	<input type="hidden" name="task2-submit" value="true">
	<div class="mb-3">
		<label for="year" class="form-label">Год:</label>
		<input type="number" class="form-control" id="year" name="year" placeholder="2023">
	</div>
	<button type="submit" class="btn btn-primary">Решить задачу</button>
</form>

<div class="mt-3">
	{% if result_task2 %}
	<ul>
		<li>Год: {{ result_task2.year }}</li>
		<li>Високосный: {{ result_task2.is_leap_year|yesno:"Да,Нет" }}</li>
		<li>Век: {{ result_task2.century }}</li>
	</ul>
	{% endif %}
</div>
{% endblock %}